<%= render 'global/navbar' %>

<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col s12 l3 center-align">
      <img class="responsive" src="http://i.istockimg.com/file_thumbview_approve/64330137/3/stock-photo-64330137-a-icon-of-a-businessman-avatar-or-profile-pic.jpg" alt="" />
      <p>
        <h6 style="text-align:center;">Member since <%= @user.created_at.strftime("%B %Y") %></h6>
      </p>
    </div>
    <div class="col s12 l9">
      <h4 style="text-align:center;">Hey, I'm
          <%= @user.fullname %>!
      </h4>
    </div>
  </div>
</div>
