<%= render 'global/navbar' %>

<body class='userBody'>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Find My Draft</h1>
      <div class="row center">
        <h5 class="header col s12 light">Book or host a live fantasy football draft.</h5>
      </div>
      <div class="row center">
        <% if(!user_signed_in?) %>
        <%= link_to "Get Started", new_user_registration_path, :class => 'btn-large waves-effect waves-light orange darken-3'%>
        <% else %>
        <% end %>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text text-darken-3"><i class="medium material-icons">search</i></h2>
            <h5 class="center">Search.</h5>

            <p class="light center white-text">Search our collection of draft venues.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text text-darken-3"><i class=" medium material-icons">today</i></h2>
            <h5 class="center">Pick.</h5>

            <p class="light center white-text">Pick a convenient date.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text text-darken-3"><i class="medium material-icons">play_arrow</i></h2>
            <h5 class="center">Draft.</h5>

            <p class="light center white-text">Make an unforgettable experience.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>

  </div>

  <footer id="footerLow" class="page-footer orange darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Copyright &copy; 2016 FindMyDraft</h5>
          <p class="white-text">Search. Pick. Draft. </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">About</h5>
          <ul>
            <li><a class="white-text" href="#!">Terms of Service</a></li>
            <li><a class="white-text" href="#!">Privacy Notice</a></li>
            <li><a class="white-text" href="#!">Venue Host Guarantee</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <a class="white-text" href="https://www.twitter.com"><img class='responsive-img circle' src='https://cdn2.iconfinder.com/data/icons/social-flat/512/twitter-128.png' height="20px" width="20px"></a>

            <a class="white-text" href="https://www.facebook.com"><img class='responsive-img circle' src='https://cdn2.iconfinder.com/data/icons/social-flat/512/facebook-128.png' height="20px" width="20px"></a>
            <a class="white-text" href="https://plus.google.com"><img class='responsive-img circle' src='            https://cdn2.iconfinder.com/data/icons/social-flat/512/googleplus-128.png' height="20px" width="20px"></a>
            <a class="white-text" href="https://www.linkedin.com"><img class='facebook responsive-img circle' src='            https://cdn2.iconfinder.com/data/icons/social-flat/512/linkedin-128.png' height="20px" width="20px"></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://www.github.com/SwittS">Switt Srikulacheep</a>
      <img class='github responsive-img circle' src='https://cdn2.iconfinder.com/data/icons/social-flat/512/github-128.png' height="20px" width="20px">
      </div>
    </div>
  </footer>



  </body>
