<%= render 'global/navbar' %>

<div class="grass">
  <div class="bg"></div>
    <div class="jumbotron">
      <h1>Draft Venues</h1>
    </div>
</div>

<div class="container">
  <br>
  <div class="col s12">
    Find the perfect fit: Explore draft venues.
  </div>
  <br>
  <hr>
  <br>
  <div class="searchFilter row">
    <div class="col s4 center-align">
      Wi-Fi
    </div>
    <div class="col s4 center-align">
      League Size
    </div>
    <div class="col s4 center-align">
      Find a venue
    </div>
  </div>
  <br>
  <br>
  <div class="venueView row">
    <div class="col s3">
      Image Picture
    </div>
    <div class="col s3">
      <p>
        Venue name
      </p>
      <p>
        Venue address
      </p>
    </div>
    <div class="col s3">
      <p>
        Wi-Fi
      </p>
      <p>
        Accomodates
      </p>
    </div>
    <div class="col s3">
        Book it!
    </div>
  </div>
  <br>
  <hr>
</div>
